{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bootstrap5/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>
    <div class="container">
      <div class="row">
        <div class="col-md-5 order-md-2">

          {{ content.flag_bookmark }}

          <div class="card text-bg-light mb-3 p-3 small">

            <div class="mb-3">
              <div class="field field--name-field-uid field--type-entity-reference field--label-inline clearfix">
                <div class="field__label">{{ 'Data set editor'|t }}</div>
                <div class="field__item">{{ author_link }}</div>
              </div>
            </div>

            {% if node.field_primary_responsibility_org and not node.field_primary_responsibility_org.isempty %}
              <div class="mb-3">
                {{ node.field_primary_responsibility_org|view }}
                {{ node.field_primary_responsibility_org.entity.field_data_custodian|view }}
                {{ node.field_primary_responsibility_org.entity.field_information|view}}
              </div>
            {% endif %}

            {% if node.field_published_date and not node.field_published_date.isempty %}
              <div class="mb-3">
                {{ node.field_published_date|view }}
              </div>
            {% endif %}

            {% if node.field_modified_date and not node.field_modified_date.isempty %}
              <div class="mb-3">
                {{ node.field_modified_date|view }}
              </div>
            {% endif %}

            <hr>

            <div class="mt-3 small dc-fields">

              {% if node.field_security_classification and not node.field_security_classification.isempty %}
                <div class="mb-3">
                  {{ node.field_security_classification|view }}
                </div>
              {% endif %}

              {% if node.field_critical_information and not node.field_critical_information.isempty %}
                <div class="mb-3">
                  {{ node.field_critical_information|view }}
                </div>
              {% endif %}

              {% if node.field_authoritative_info and not node.field_authoritative_info.isempty %}
                <div class="mb-3">
                  {{ node.field_authoritative_info|view }}
                </div>
              {% endif %}

              {% if node.field_high_value_info and not node.field_high_value_info.isempty %}
                <div class="mb-3">
                  {{ node.field_high_value_info|view }}
                </div>
              {% endif %}

              {% if node.field_source_system and not node.field_source_system.isempty %}
                <div class="mb-3">
                  {{ node.field_source_system|view }}
                </div>
              {% endif %}

              {% if node.field_granularity and not node.field_granularity.isempty %}
                <div class="mb-3">
                  {{ node.field_granularity|view }}
                </div>
              {% endif %}

              {% if node.field_data_set_type and not node.field_data_set_type.isempty %}
                <div class="mb-3">
                  {{ node.field_data_set_type|view }}
                </div>
              {% endif %}

              {% if node.field_data_set_format and not node.field_data_set_format.isempty %}
                <div class="mb-3">
                  {{ node.field_data_set_format|view }}
                </div>
              {% endif %}

              {% if node.field_product_type and not node.field_product_type.isempty %}
                <div class="mb-3">
                  {{ node.field_product_type|view }}
                </div>
              {% endif %}

              {% if node.field_used_in_products and not node.field_used_in_products.isempty %}
                <div class="mb-3">
                  {{ node.field_used_in_products|view }}
                </div>
              {% endif %}

              {% if not node.field_information_schedule.isempty %}
                <hr>
                <div class="mb-3">
                  <div class="field field--name-field-information-schedule field--type-entity-reference field--label-inline clearfix">
                    <div class="field__label">{{ node.field_information_schedule.fielddefinition.label }}</div>
                    <div class="field__item">
                      <div>{{ field_information_schedule_display_name }}</div>
                      {% if node.field_information_schedule.entity.field_schedule_code.value %}
                        <div>{{ node.field_information_schedule.entity.field_schedule_code.value }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% if node.field_active_period.value|render|trim %}
                  <div class="mb-3">
                    {{ node.field_active_period|view }}
                  </div>
                {% endif %}
                {% if node.field_semi_active_period.value|render|trim %}
                  <div class="mb-3">
                    {{ node.field_semi_active_period|view }}
                  </div>
                {% endif %}
                {% if node.field_final_disposition.value %}
                  <div class="mb-3">
                    {{ node.field_final_disposition|view }}
                  </div>
                {% endif %}
                {% if node.field_special_flags.value %}
                  <div class="mb-3">
                    {{ node.field_special_flags|view }}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-7 order-md-1">

          {% if node.body and not node.body.isempty %}
            <div class="mb-3">
              {{ node.body|view }}
            </div>
          {% endif %}

          {% if node.field_series and not node.field_series.isempty %}
            <div class="mb-3">
              {{ node.field_series|view }}
            </div>
          {% endif %}

          {% if node.field_data_quality_issues and not node.field_data_quality_issues.isempty %}
            <div class="mb-3">
              {{ node.field_data_quality_issues|view }}
            </div>
          {% endif %}

          {% if node.field_data_set_historical_change and not node.field_data_set_historical_change.isempty %}
            <div class="mb-3">
              {{ node.field_data_set_historical_change|view }}
            </div>
          {% endif %}

        </div>
      </div>
    </div>


      {% if node.field_modified_date and not node.field_modified_date.isempty %}
      <hr>
      <h2>{{ 'Data dictionary'|t }}</h2>
        {{ node.field_columns|view }}
      {% endif %}

  </div>

</article>
