{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bootstrap5/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>

    <div class="container meta-data-record-view">

      <div class="grid-dc-container">

        <div class="grid-mr-bookmark">
          {{ content.flag_bookmark }}
        </div>

        <section id="dc_data_details_description" class="grid-dc-content">

          <div id="metadata_record_labels">

            {{ drupal_block('bc_dc_review_needed_message') }}
            {% if node.field_personal_information.value == 1 %}
              <div id="dataset_alerts" class="dataset-alerts">
               <span class="badge text-bg-warning">{{ node.field_personal_information.fieldDefinition.label }}</span>
               {% if node.field_high_value_info.value %}
                 <span class="badge text-bg-success">{{ node.field_high_value_info.fieldDefinition.label }}</span>
               {% endif %}
              </div>
            {% endif %}

          </div>

          <div id="dc_data_details" class="mb-4">
            {% if node.field_data_set_type and not node.field_data_set_type.isempty %}
              <div class="mb-3">
                {{ node.field_data_set_type|view }}
              </div>
            {% endif %}

            {% if node.field_published_date and not node.field_published_date.isempty %}
              <div class="mb-3">
                {{ node.field_published_date|view }}
              </div>
            {% endif %}

            {% if node.field_modified_date and not node.field_modified_date.isempty %}
              <div class="mb-3">
                {{ node.field_modified_date|view }}
              </div>
            {% endif %}

            {% if node.field_series and not node.field_series.isempty %}
              <div class="mb-3">
                {{ node.field_series|view }}
              </div>
            {% endif %}

            {% if field_visibility %}
              <div class="field field--label-inline clearfix d-flex flex-row align-items-start field_visibility {{ field_visibility_wrapper_class }}">
                <div class="field__label text-nowrap">{{ 'Record visibility'|t }}</div>
                <div class="field__item">
                  {{ field_visibility }}
                </div>
              </div>
            {% endif %}
          </div>

          {% if node.body and not node.body.isempty %}
            <div class="mb-3">
              {{ node.body|view }}
            </div>
          {% endif %}

          {% if node.field_data_set_historical_change and not node.field_data_set_historical_change.isempty %}
            <div class="mb-3">
              {{ node.field_data_set_historical_change|view }}
            </div>
          {% endif %}

          {% if node.field_asset_location and not node.field_asset_location.isempty %}
            <div class="mb-3">
              {{ node.field_asset_location|view }}
            </div>
          {% endif %}

          {% if node.field_primary_responsibility_org and not node.field_primary_responsibility_org.isempty %}
            <div class="mb-3">
              {{ node.field_primary_responsibility_org|view }}
              {{ node.field_primary_responsibility_org.entity.field_data_custodian|view }}
              <div class="mt-2">
                {{ node.field_primary_responsibility_org.entity.field_information|view}}
              </div>
            </div>
          {% endif %}

        </section>

        <div class="grid-dc-sidebar-right">

          <section id="dc_data_usage_value_information_management" class="card text-bg-light mb-3 p-3 small">

            {# Without "|render", these variables would be render arrays, so not empty but may still render to empty output. #}
            {% set field_source_system = node.field_source_system|view|render %}
            {% set field_data_sets_used = node.field_data_sets_used|view|render %}
            {% set has_used_in_data_sets = drupal_view_result('used_in_data_sets', 'block_1', node.nid.value) is not empty %}
            {% set field_data_quality_issues = node.field_data_quality_issues|view|render %}
            {% if field_source_system or field_data_sets_used or has_used_in_data_sets or field_data_quality_issues %}
              <div id="dc_data_usage" class="dc-fields">
                <h2 class="field__label mb-1 fs-5 fw-bold">
                  {{ 'Data usage'|t }}
                </h2>
                {% if field_source_system %}
                  <div class="mb-3">
                    {{ field_source_system }}
                  </div>
                {% endif %}

                {# data lineage #}
                {% if field_data_sets_used or has_used_in_data_sets %}
                  <details class="dc-lineage">
                    <summary>{{ 'Data lineage'|t }}</summary>
                    <section>
                      {% if field_data_sets_used %}
                        <section class="dc-lineage-datasets-used" aria-label="{{ 'This record uses the following records'|t }}">
                          {{ field_data_sets_used }}
                          <div class="dc-arrow-down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="40px" viewBox="0 0 25 50">
                              <path d="M23.87,27.56h-6.57V0H7.69v27.56H1.13c-.87,0-1.41.96-.97,1.73l11.37,20.14c.43.77,1.52.77,1.95,0l11.37-20.14c.43-.77-.11-1.73-.97-1.73Z" fill="currentColor"/>
                            </svg>
                          </div>
                        </section>
                      {% endif %}
                      <section class="dc-lineage-this-dataset">
                        <em>{{ 'This @record_type:'|t({'@record_type': record_type}) }}</em> {{ node.label() }}
                      </section>
                      {% if has_used_in_data_sets %}
                        <section class="dc-lineage-used-in-datasets" aria-label="{{ 'The following records use this record'|t }}">
                          <div class="dc-arrow-down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="40px" viewBox="0 0 25 50">
                              <path d="M23.87,27.56h-6.57V0H7.69v27.56H1.13c-.87,0-1.41.96-.97,1.73l11.37,20.14c.43.77,1.52.77,1.95,0l11.37-20.14c.43-.77-.11-1.73-.97-1.73Z" fill="currentColor"/>
                            </svg>
                          </div>
                          {{ drupal_view('used_in_data_sets', 'block_1', node.nid.value) }}
                        </section>
                      {% endif %}
                    </section>
                  </details>
                {% endif %}

                {% if field_data_quality_issues %}
                  <div class="mb-3">
                    {{ field_data_quality_issues }}
                  </div>
                {% endif %}
              </div>
              <hr>
            {% endif %}

            {% if node.field_personal_information and not node.field_personal_information.isempty or node.field_security_classification and not node.field_security_classification.isempty or node.field_critical_information and not node.field_critical_information.isempty or node.field_authoritative_info and not node.field_authoritative_info.isempty or node.field_high_value_info and not node.field_high_value_info.isempty %}
            <div id="dc_data_value" class="mt-3 dc-fields">
              <h2 class="field__label mb-1 fs-5 fw-bold">
                {{ 'Data value'|t }}
              </h2>
              {% if node.field_personal_information and not node.field_personal_information.isempty %}
                <div class="mb-3">
                  {{ node.field_personal_information|view }}
                </div>
              {% endif %}
              {% if node.field_security_classification and not node.field_security_classification.isempty %}
                <div class="mb-3">
                  {{ node.field_security_classification|view }}
                </div>
              {% endif %}
              {% if node.field_critical_information and not node.field_critical_information.isempty %}
                <div class="mb-3">
                  {{ node.field_critical_information|view }}
                </div>
              {% endif %}
              {% if node.field_authoritative_info and not node.field_authoritative_info.isempty %}
                <div class="mb-3">
                  {{ node.field_authoritative_info|view }}
                </div>
              {% endif %}
              {% if node.field_high_value_info and not node.field_high_value_info.isempty %}
                <div class="mb-3">
                  {{ node.field_high_value_info|view }}
                </div>
              {% endif %}
            </div>
            {% endif %}

            {% set field_information_schedule = node.field_information_schedule.entity.field_schedule_code|view|render %}
            {% if information_schedule_type or field_information_schedule or information_schedule_business_category %}
              <div id="dc_information_management" class="mt-3 dc-fields">
                <hr>
                <h2 class="field__label mb-1 pt-3 fs-5 fw-bold">
                  {{ 'Information management'|t }}
                </h2>
                <div class="mb-3">
                  {% if information_schedule_type %}
                    <div class="field field--name-field-information-schedule field--type-entity-reference field--label-inline clearfix">
                      <div class="field__label">{{ 'Information schedule type'|t }}</div>
                      <div class="field__item">{{ information_schedule_type }}</div>
                    </div>
                  {% endif %}
                  {{ field_information_schedule }}
                  {% if information_schedule_business_category %}
                    <div class="field field--name-field-information-schedule field--type-entity-reference field--label-inline clearfix">
                      <div class="field__label">{{ 'Business category'|t }}</div>
                      <div class="field__item">{{ information_schedule_business_category }}</div>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% set field_related_document = node.field_related_document|view|render %}
            {% if field_related_document %}
              <div class="mt-3">
                <hr>
                <h2 class="field__label mb-1 pt-3 fs-5 fw-bold">{{ node.field_related_document.fieldDefinition.label }}</h2>
                {{ field_related_document }}
              </div>
            {% endif %}
          </section>

        </div>

      </div>

      {% if node.field_columns and not node.field_columns.isempty %}
        <section id="dc_data_dictionary" class="dc-details">
          <hr>
          <h2>{{ 'Data dictionary'|t }}</h2>
          {{ data_dictionary_download_links }}
          <button id="bcbb-toggle-details-button" class="btn btn-outline-secondary mt-3" aria-expanded="false">toggle-button</button>
          {{ node.field_columns|view }}
        </section>
      {% endif %}

      <section id="author_permalink" class="bcbb-fw mt-4 dc-subfooter">
        <div class="container">
          <div class="field field--name-field-uid field--type-entity-reference field--label-inline clearfix">
            <div class="field__label mb-2">{{ 'Data set editor'|t }}</div>
            <div class="field__item">{{ author_link }}</div>
          </div>
          {{ permalink }}
        </div>
      </section>
    </div>

  </div>

</article>
