{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bootstrap5/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>

    <div class="container">

      {{ drupal_block('bc_dc_review_needed_message') }}

      {% if node.field_personal_information.value == 1 %}
        <div id="dataset_alerts" class="mb-2">
         <span class="badge text-bg-warning">{{ node.field_personal_information.fieldDefinition.label }}</span>
         {% if node.field_high_value_info.value %}
         <span class="badge text-bg-success">{{ node.field_high_value_info.fieldDefinition.label }}</span>
         {% endif %}
        </div>
      {% endif %}

      <div class="row">

        <section id="dc_data_details_description" class="col-lg-6">

          {% if node.field_data_set_type and not node.field_data_set_type.isempty %}
            <div class="mb-3">
              {{ node.field_data_set_type|view }}
            </div>
          {% endif %}

          {% if node.field_published_date and not node.field_published_date.isempty %}
            <div class="mb-3">
              {{ node.field_published_date|view }}
            </div>
          {% endif %}

          {% if node.field_modified_date and not node.field_modified_date.isempty %}
            <div class="mb-3">
              {{ node.field_modified_date|view }}
            </div>
          {% endif %}

          {% if node.field_series and not node.field_series.isempty %}
            <div class="mb-3">
              {{ node.field_series|view }}
            </div>
          {% endif %}

          {% if field_visibility %}
          <div class="field field--label-inline clearfix d-flex flex-row align-items-start field_visibility {{ field_visibility_wrapper_class }}">
            <div class="field__label text-nowrap">{{ 'Record visibility'|t }}</div>
            <div class="field__item">
              {{ field_visibility }}
            </div>
          </div>
          {% endif %}

          {% if node.body and not node.body.isempty %}
            <div class="mb-3">
              {{ node.body|view }}
            </div>
          {% endif %}

          {% if node.field_data_set_historical_change and not node.field_data_set_historical_change.isempty %}
            <div class="mb-3">
              {{ node.field_data_set_historical_change|view }}
            </div>
          {% endif %}

          {% if node.field_primary_responsibility_org and not node.field_primary_responsibility_org.isempty %}
              <div class="mb-3">
                {{ node.field_primary_responsibility_org|view }}
                {{ node.field_primary_responsibility_org.entity.field_data_custodian|view }}
                <div class="mt-2">
                  {{ node.field_primary_responsibility_org.entity.field_information|view}}
                </div>
              </div>
            {% endif %}

        </section>

        <div class="col-lg-5 offset-lg-1">

          {{ content.flag_bookmark }}

          <section id="dc_data_usage_value_information_management" class="card text-bg-light mb-3 p-3 small">

            {% if node.field_source_system  or node.field_data_sets_used or drupal_view_result('used_in_data_sets', 'block_1', node.nid.value) or node.field_data_quality_issues %}
              <div id="dc_data_usage" class="dc-fields">
                <h2 class="field__label mb-1 fs-5 fw-bold">
                  {{ 'Data usage'|t }}
                </h2>
                {% if node.field_source_system and not node.field_source_system.isempty %}
                  <div class="mb-3">
                    {{ node.field_source_system|view }}
                  </div>
                {% endif %}
                {% if node.field_data_sets_used and not node.field_data_sets_used.isempty %}
                  <div class="mb-3">
                    {{ node.field_data_sets_used|view }}
                  </div>
                {% endif %}
                {% if drupal_view_result('used_in_data_sets', 'block_1', node.nid.value) is not empty %}
                  <div class="mb-3 field--label-inline">
                    <div class="field__label">{{'Used in datasets'|t}}</div>
                    {{ drupal_view('used_in_data_sets', 'block_1', node.nid.value) }}
                  </div>
                {% endif %}
                {% if node.field_data_quality_issues and not node.field_data_quality_issues.isempty %}
                <div class="mb-3">
                  {{ node.field_data_quality_issues|view }}
                </div>
                {% endif %}
              </div>
              <hr>
            {% endif %}

            <div id="dc_data_value" class="mt-3 dc-fields">
              <h2 class="field__label mb-1 fs-5 fw-bold">
                {{ 'Data value'|t }}
              </h2>
              {% if node.field_security_classification and not node.field_security_classification.isempty %}
                <div class="mb-3">
                  {{ node.field_security_classification|view }}
                </div>
              {% endif %}
              {% if node.field_critical_information and not node.field_critical_information.isempty %}
                <div class="mb-3">
                  {{ node.field_critical_information|view }}
                </div>
              {% endif %}
              {% if node.field_authoritative_info and not node.field_authoritative_info.isempty %}
                <div class="mb-3">
                  {{ node.field_authoritative_info|view }}
                </div>
              {% endif %}
              {% if node.field_high_value_info and not node.field_high_value_info.isempty %}
                <div class="mb-3">
                  {{ node.field_high_value_info|view }}
                </div>
              {% endif %}
            </div>

            {% if not node.field_information_schedule.isempty %}
              <div id="dc_information_management" class="mt-3 dc-fields">
                <hr>
                <h2 class="field__label mb-1 pt-3 fs-5 fw-bold">
                  {{ 'Information management'|t }}
                </h2>

                <div class="mb-3">
                  {% if information_schedule_type %}
                    <div class="field field--name-field-information-schedule field--type-entity-reference field--label-inline clearfix">
                      <div class="field__label">{{ 'Information schedule type'|t }}</div>
                      <div class="field__item">{{ information_schedule_type }}</div>
                    </div>
                  {% endif %}
                  {% if information_schedule_details %}
                    <div class="field field--name-field-information-schedule field--type-entity-reference field--label-inline clearfix">
                      <div class="field__label">{{ 'IM classification details'|t }}</div>
                      <div class="field__item">{{ information_schedule_details }}</div>
                    </div>
                  {% endif %}
                  {% if node.field_information_schedule.entity.field_schedule_code %}
                    {{ node.field_information_schedule.entity.field_schedule_code|view}}
                  {% endif %}
                </div>

              </div>
            {% endif %}

          </section>

        </div>

      </div>

      {% if node.field_modified_date and not node.field_modified_date.isempty %}
      <section id="dc_data_dictionary" class="dc-details">
        <hr>
        <h2>{{ 'Data dictionary'|t }}</h2>
          {{ data_dictionary_download_links }}
          {{ node.field_columns|view }}
        {% endif %}
      </section>

      <section id="author_permalink">
        <div class="field field--name-field-uid field--type-entity-reference field--label-inline clearfix mb-2">
          <div class="field__label">{{ 'Data set editor'|t }}</div>
          <div class="field__item">{{ author_link }}</div>
        </div>
        {{ permalink }}
      </section>
    </div>

  </div>

</article>
