{#
/**
 * @file
 * This overrides /modules/contrib/clipboardjs/templates/clipboardjs-textfield.html.twig
 * It adds bootstrap classes to the style, removes unnecessary classes and replaces
 * the button image with text and an icon
 */
#}
{{ attach_library('clipboardjs/textfield') }}
{% apply spaceless %}
  <div class="d-flex">
    <input id="{{ attributes.id }}" type="text" class="text-full form-text form-control" value="{{ value }}" readonly="readonly" />
    <button class="clipboardjs-button btn btn-secondary" data-clipboard-alert="{{ alert_style }}" data-clipboard-alert-text="{{ alert_text }}" data-clipboard-target="#{{ attributes.id }}">
      <div class="tooltip">
        <span class="icon-bi-copy text-nowrap">{{ label }}</span>
        <span class="tooltiptext"></span>
      </div>
    </button>
  </div>
{% endapply %}
