{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - is_front: A flag indicating if the current page is the front page.
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
{% if is_front %}
{% endif  %}
<div class="navbar-brand d-lg-flex align-items-center bb-link-light">
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="site-logo d-block" />
    </a>
  {% endif %}
  {% if site_name %}
  <h1 class="site-title ps-lg-4">{{ site_name }}</h1>
  {% endif %}
  </div>
{% if is_front %}
{% endif  %}
{% endblock %}
